node_red/node_red.json
[
    {
        "id": "3ad3073df1ca5ffc",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e265a38b3d6043bd",
        "type": "mqtt in",
        "z": "3ad3073df1ca5ffc",
        "name": "",
        "topic": "esp_cam_1/from_esp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "28440418ba8bdd99",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1000,
        "y": 100,
        "wires": [
            [
                "677b4331e2a11b3d",
                "a0243133e8686344",
                "18926ac46a1ebab2"
            ]
        ]
    },
    {
        "id": "021aeb7b3da7b41c",
        "type": "mqtt out",
        "z": "3ad3073df1ca5ffc",
        "name": "",
        "topic": "esp_cam_1/photo",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "28440418ba8bdd99",
        "x": 790,
        "y": 100,
        "wires": []
    },
    {
        "id": "677b4331e2a11b3d",
        "type": "debug",
        "z": "3ad3073df1ca5ffc",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 140,
        "wires": []
    },
    {
        "id": "a0243133e8686344",
        "type": "jimp-image",
        "z": "3ad3073df1ca5ffc",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 1250,
        "y": 180,
        "wires": [
            [
                "aec7b6426088861c",
                "ca6d35c0429803de"
            ]
        ]
    },
    {
        "id": "aec7b6426088861c",
        "type": "image viewer",
        "z": "3ad3073df1ca5ffc",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1430,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ca6d35c0429803de",
        "type": "ui_template",
        "z": "3ad3073df1ca5ffc",
        "group": "049c0ae71a1fe89d",
        "name": "",
        "order": 9,
        "width": "7",
        "height": "9",
        "format": "<div style=\"display: inline-block; margin:0 auto\"><img src=\"{{msg.payload}}\"></img></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1440,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "0f3ce3297c0da6b5",
        "type": "inject",
        "z": "3ad3073df1ca5ffc",
        "name": "esp-cam-1 ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "021aeb7b3da7b41c"
            ]
        ]
    },
    {
        "id": "833996906c26fcb7",
        "type": "ui_button",
        "z": "3ad3073df1ca5ffc",
        "name": "",
        "group": "049c0ae71a1fe89d",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "esp-cam-1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "021aeb7b3da7b41c"
            ]
        ]
    },
    {
        "id": "18926ac46a1ebab2",
        "type": "change",
        "z": "3ad3073df1ca5ffc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$replace($string($now(None,\"+0200\"), true), '.','_')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 100,
        "wires": [
            [
                "f79095167ab67a26"
            ]
        ]
    },
    {
        "id": "f79095167ab67a26",
        "type": "file",
        "z": "3ad3073df1ca5ffc",
        "name": "",
        "filename": "\"/home/balazs/Asztal/gas_pics/\" & (msg.topic) & \".jpg\"",
        "filenameType": "jsonata",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1440,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c8d168e6e801001d",
        "type": "mqtt in",
        "z": "3ad3073df1ca5ffc",
        "name": "",
        "topic": "esp_cam_1/hello_pub",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "28440418ba8bdd99",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 800,
        "y": 300,
        "wires": [
            [
                "bc7ea15028c658d1"
            ]
        ]
    },
    {
        "id": "bc7ea15028c658d1",
        "type": "debug",
        "z": "3ad3073df1ca5ffc",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 300,
        "wires": []
    },
    {
        "id": "4ba2a0abb9fe627f",
        "type": "mqtt out",
        "z": "3ad3073df1ca5ffc",
        "name": "",
        "topic": "esp_cam_1/hello",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "28440418ba8bdd99",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "6b19ef12d3cba4f7",
        "type": "inject",
        "z": "3ad3073df1ca5ffc",
        "name": "Say hello",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 240,
        "y": 300,
        "wires": [
            [
                "4ba2a0abb9fe627f"
            ]
        ]
    },
    {
        "id": "b1214550599f2222",
        "type": "mqtt out",
        "z": "3ad3073df1ca5ffc",
        "name": "",
        "topic": "esp_cam_1/sleep",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "28440418ba8bdd99",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "fde084fbfddd3efa",
        "type": "inject",
        "z": "3ad3073df1ca5ffc",
        "name": "Go sleep",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "b1214550599f2222",
                "6c39144d1776d89c"
            ]
        ]
    },
    {
        "id": "6c39144d1776d89c",
        "type": "delay",
        "z": "3ad3073df1ca5ffc",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 560,
        "y": 180,
        "wires": [
            [
                "021aeb7b3da7b41c"
            ]
        ]
    },
    {
        "id": "a65b6747ce552386",
        "type": "inject",
        "z": "3ad3073df1ca5ffc",
        "name": "Go sleep",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 240,
        "y": 260,
        "wires": [
            [
                "b1214550599f2222",
                "6c39144d1776d89c"
            ]
        ]
    },
    {
        "id": "8f1de20749699d6a",
        "type": "ui_button",
        "z": "3ad3073df1ca5ffc",
        "name": "",
        "group": "049c0ae71a1fe89d",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "sleep",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "b1214550599f2222",
                "6c39144d1776d89c"
            ]
        ]
    },
    {
        "id": "28440418ba8bdd99",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "192.168.0.33",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "049c0ae71a1fe89d",
        "type": "ui_group",
        "name": "Kamera",
        "tab": "fe7dc78c8199f2dd",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "fe7dc78c8199f2dd",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
